.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  margin: 0 32px 80px;
  border-radius: 28px;
  box-shadow: none;
  transition: all 0.15s ease-in-out;
}

.card:hover {
  transform: scale(1.01);
}

.title {
  height: 44px;
  margin-bottom: 46px;
}

.imageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 380px;
  margin-bottom: 52px;
  overflow: hidden;
  filter: drop-shadow(0 -3px 4px #00000040);
  border-radius: 18px;
}

.image {
  width: auto;
  height: 100%;
}

.chipOpenIncr {
  position: absolute;
  top: 36px;
  left: 0;
  height: 46px;
  padding-left: 24px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 0 8px 8px 0;
}

.chipStartDate {
  position: absolute;
  top: 428px;
  left: 50%;
  height: 60px;
  padding: 0 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #219ce1cc;
  border-radius: 50px;
  transform: translateX(-50%);
  backdrop-filter: blur(6px);
}

.button {
  margin: 32px 0;
  font-weight: 600;
}

@media only screen and (min-width: 1150px) {
  .image {
    width: 100%;
    height: auto;
  }
}
