.card {
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  padding: 0 24px !important;
  margin: 0 32px 80px !important;
  border-radius: 28px !important;
  box-shadow: none !important;
  transition: all 0.15s ease-in-out !important;
}

.card:hover {
  transform: scale(1.01);
}

.titleContainer {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 87px !important;
  margin-bottom: 46px !important;
}

/* .title {
} */

.imageContainer {
  position: relative !important;
  display: flex !important;
  justify-content: center !important;
  width: 100%;
  height: 380px;
  margin-bottom: 52px !important;
  overflow: hidden !important;
  background-color: #ffffff !important;
  filter: drop-shadow(0 -3px 4px #00000040) !important;
  border-radius: 18px !important;
}

.image {
  width: auto;
  height: 100%;
}

.chipOpenIncr {
  position: absolute;
  top: 36px;
  left: 0;
  height: 46px !important;
  padding-left: 24px !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  border-radius: 0 8px 8px 0 !important;
}

.chipStartDate {
  position: absolute;
  top: 470px !important;
  left: 50%;
  height: 60px !important;
  padding: 0 40px !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  background-color: #219ce1cc !important;
  border-radius: 50px !important;
  transform: translateX(-50%) !important;
  backdrop-filter: blur(6px) !important;
}

.button {
  margin: 32px 0 !important;
  font-weight: 600 !important;
}

@media only screen and (min-width: 1150px) {
  .image {
    width: 100%;
    height: auto;
  }
}
