.questionContainer {
  width: 100%;
  padding: 45px 24px 30px 16px;
  border-radius: 8px;
  box-shadow: 0 6px 5px 0 #00000026;
}

ul {
  list-style-type: none;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.inputTextContainer {
  margin-right: 24px;
}

.switchButtonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.dropdownContainer {
  width: 206px;
}
