.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
}

.section {
  display: flex;
  flex: 1;
  align-items: center;
}

.form {
  align-items: center;
  width: 100%;
  text-align: center;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.title {
  font-weight: 80;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  margin: auto;
  text-align: left;
}

.h1Margin {
  margin-bottom: 10px;
}

.h3 {
  text-align: left;
}

.img {
  align-items: center;
  justify-content: center;
  width: 97px;
  height: 137px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13px;
  margin-bottom: 16px;
  background-color: #eeeeee;
}

.input {
  width: 30%;
}

.forgetPasswordContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  margin: auto;
  margin-bottom: 32px;
  text-align: right;
}

@media only screen and (max-width: 1024px) {
  .textContainer {
    width: 50%;
  }

  .input {
    width: 50%;
  }

  .forgetPasswordContainer {
    width: 50%;
  }
}

@media only screen and (max-width: 640px) {
  .logoContainer {
    margin-bottom: 20px;
  }

  .img {
    width: 80px;
    height: 112px;
  }

  .textContainer {
    width: 70%;
  }

  .input {
    width: 70%;
  }

  .forgetPasswordContainer {
    width: 70%;
  }
}
