.container {
  display: flex;
  align-items: center;
  padding-top: 24px;
}

.swiper-prev-button {
  position: fixed;
  top: 0;
}

.swiperSlide {
  padding-top: 12px;
}

.pagination {
  width: 12px;
  height: 12px;
  background-color: #fafafa;
}
