.main {
  position: relative;
  margin-top: 170px;
}

.introContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 90px;
}

.introTextContainer {
  width: 100%;
}

.descriptionContainer {
  margin: 16px 0 48px;
}

.image {
  max-width: 42%;
  height: auto;
}

.requirements {
  position: relative;
  width: 100%;
  height: auto;
  padding: 60px 0;
  background-image: url('src/assets/home-screen/courses/09-stars-background.png');
}

.requirementsContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.description {
  overflow-wrap: break-word;
}

.reqContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 228px;
}

.imagesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 82px;
}

.imageGuy {
  width: 74px;
  height: 74px;
}

.imageFlag {
  width: 74px;
  height: 50px;
}

.imagesContainer img {
  margin: 0 12px;
}

.centerContainer {
  display: flex;
  justify-content: center;
}

.checkboxesContainer {
  display: flex;
  flex: 1;
  justify-content: space-around;
  margin-top: 48px;
}

.checkContainer {
  display: flex;
  align-items: center;
}

.datesContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 90px 0 70px;
}

.dateAndTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 60px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  box-shadow: 0 4px 11px #00000050;
}

div.dateBg {
  border-radius: 0 18px 18px 0;
}

.btnContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.seeMoreButton a {
  text-decoration: none;
}

.seeMoreButton a > * {
  font-size: 16px !important;
  color: #ffffff;
}

@media only screen and (max-width: 1024px) {
  .main {
    position: relative;
    margin-top: 140px;
  }

  .introContainer {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 30px;
  }

  .descriptionContainer {
    margin: 8px 0 16px;
  }

  .image {
    justify-self: center;
    max-width: 60%;
    max-height: auto;
    margin: 30px 0 0;
  }

  .reqContainer {
    width: 25%;
    text-align: center;
  }

  .imagesContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
  }

  .imageGuy {
    width: 40px;
    height: 40px;
  }

  .imageFlag {
    width: 40px;
    height: 27.02px;
  }

  .checkboxesContainer {
    flex: initial;
    flex-direction: column;
    margin-top: 40px;
  }

  .checkContainer {
    margin-bottom: 16px;
  }

  .datesContainer {
    margin: 45px 0 35px;
  }

  .dateAndTextContainer {
    padding: 15px 45px;
  }
}

@media only screen and (max-width: 640px) {
  .main {
    position: relative;
    margin-top: 100px;
  }

  .requirements {
    height: auto;
    padding: 20px 0 40px;
  }

  .datesContainer {
    margin: 20px 0 35px;
  }

  .dateAndTextContainer {
    padding: 10px 20px;
  }
}
