.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.container > section {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  width: 90%;
}

.container > section > div {
  flex: 1;
}

.container > section > div > h2 {
  margin-bottom: 10px;
}

.container > section > div > h6 {
  margin-bottom: 30px;
}
