.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  text-align: center;
  background-color: #ffffff;
}

.h2 {
  text-align: left;
}

.list {
  text-align: left;
}

.listItem {
  font-size: 12px;
}

.h3 {
  color: #787777;
  text-align: left;
}

.title {
  margin-bottom: 40px;
  color: #373867;
}

.button {
  background-color: #5cab8b;
}

.img {
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}
