.main {
  position: relative;
  margin-top: 170px;
}

.introContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 90px;
  margin-bottom: 80px;
}

.introTextContainer {
  width: 100%;
  padding-top: 100px;
}

.descriptionContainer {
  margin: 16px 0 48px;
}

.chip {
  position: absolute;
  top: 20px;
  left: 0;
  display: flex !important;
  justify-content: flex-end !important;
  width: 308px;
  height: 46px !important;
  padding: 8px !important;
  font-size: 20px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.image {
  display: block;
  max-width: 50%;
  max-height: 100%;
}

.seeMoreButton a {
  text-decoration: none;
}

.seeMoreButton a > * {
  font-size: 16px !important;
  color: #ffffff;
}

.coursesTextContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 110px 0;
}

.imageLine {
  position: relative;
  width: 37%;
  height: 66px;
}

.imageLineLeft {
  top: 32px;
}

.imageLineRight {
  top: -32px;
}

.notCoursesWarning {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 30px;
}

.swiperContainer {
  position: relative;
  width: 100%;
  padding-bottom: 30px;
  overflow: hidden;
}

.skeletonContainer {
  display: flex !important;
  padding: 0 24px 24px !important;
  margin: 0 32px 80px !important;
  background-color: #ffffff !important;
  border-radius: 28px !important;
  box-shadow: none !important;
}

.background {
  position: absolute;
  top: 160px;
  right: -40px;
  bottom: 0;
  left: -40px;
  z-index: -10;
  background: #4f987b;
}

@media only screen and (max-width: 1050px) {
  .main {
    position: relative;
    margin-top: 140px;
  }

  .introContainer {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 30px;
  }

  .descriptionContainer {
    margin: 8px 0 16px;
  }

  .chip {
    width: 188px;
    font-size: 14px !important;
  }

  .image {
    justify-self: center;
    max-width: 75%;
    max-height: auto;
    margin: 60px 0 30px;
  }

  .coursesTextContainer {
    margin: 30px 0;
  }

  .imageLine {
    width: 30%;
    height: 20px;
  }
}

@media only screen and (max-width: 640px) {
  .main {
    position: relative;
    margin-top: 100px;
  }

  .image {
    justify-self: center;
    max-width: 90%;
    max-height: auto;
  }
}
