.container {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.titleContainer,
.form {
  margin: 30px;
}

.subtitle {
  margin: 16px 0 28px;
}

.form {
  width: 100%;
}

.spaceContainer {
  display: flex;
  justify-content: space-between;
}

.margin25 {
  margin: 25px;
}

.input {
  width: 70%;
}

.buttonsContainer :nth-child(1) {
  margin-right: 10px;
}
