.container {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.titleContainer {
  margin: 30px 10px;
}

.subtitle {
  margin: 16px 0 28px;
}

.form {
  width: 100%;
  margin: 15px;
}

.spaceContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.margin15 {
  margin: 15px;
}

.input {
  width: 70%;
}

.btnContainer :nth-child(1) {
  margin-right: 10px;
}

.transferListContainer {
  padding: 15px;
}
