.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 55px 65px;
}

.headerForm {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.headerForm > div {
  display: flex;
  width: 20%;
  margin: 40px 0 20px;
}

.bodyForms form > div {
  display: flex;
  flex: 30;
  flex-direction: column;
  margin: 0 20px;
}

.bodyForms form > div > div {
  margin: 20px 0;
}

.form div:first-child {
  margin: 0 20px;
}

.bodyForms form {
  display: flex;
  margin: 45px 0;
}

.bodyForms form > div:last-child {
  flex-direction: row;
}

.btnContainer {
  justify-content: flex-end;
}

.bodyForms .btnContainer button {
  width: 30%;
  max-height: 10%;
  margin: 20px 0 0 15px;
}

.bodyForms .lastColumn button {
  align-self: flex-end;
  width: 25%;
}

.bodyForms .btnContainer button:last-child {
  width: 40%;
}
