.container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 24px 0;
}

.addQuestionContainer {
  width: 100%;
  max-width: 600px;
  margin-right: 32px;
}

.questionContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.questionAndIconContainer {
  padding: 0 4px;
  border-radius: 4px;
}

.questionAndIconContainer:hover {
  cursor: pointer;
  background-color: #d7d7d7;
}

.form {
  padding: 0 16px;
}

.inputContainer {
  display: flex;
  margin-top: 16px;
}

.addButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cardHeader {
  padding: 4px 16px 8px;
  background-color: #505195;
}

.buttonsContainer {
  position: absolute;
  right: 0;
  display: flex;
  height: 30px;
}

.buttonsContainer button:first-child {
  margin-right: 24px;
}
