.textButtons {
  display: flex;
  margin-right: 2;
  font-family: monospace;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  letter-spacing: 3rem;
}

.container {
  max-width: 'xl';
  margin: 0 15px;
}

.btnsNavBar {
  display: flex;
  flex-grow: 1;
}

.btnsNavBar button {
  display: block;
  color: white;
}

.btnsNavBar a,
.authBox a {
  text-decoration: none;
}

.navTabBox {
  display: flex;
}

.toolBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.authBox button {
  color: white;
}
