.optionsContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.optionContainer {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.startIconContainer {
  margin-right: 8px;
}
