.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
}

.asd {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
