.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btns {
  display: flex;
  justify-content: end;
  width: 100%;
}

.form {
  width: 80%;
}

.boxGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.boxGrid div {
  margin: 5px;
}

.inputBox {
  display: flex;
  justify-content: space-between;
}

.dropdowns {
  display: flex;
}
