.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btns {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.form {
  width: 90%;
}

.boxGrid {
  display: grid;
  grid-template-columns: 0.8fr 1.3fr;
}

.boxGrid > div {
  margin: 5px 0;
}

.textContainer {
  margin: 0 5px;
}

.inputBox,
.dropdowns {
  display: flex;
  flex: 1.2;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.datePicker {
  width: 50%;
}
