.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btns {
  display: flex;
  justify-content: end;
  width: 100%;
}

.form {
  width: 80%;
}

.boxGrid {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
}

.boxGrid div {
  margin: 7px;
}

.inputBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dropdowns {
  display: flex;
}
