.tableToolbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px 0;
}

.tableToolbarButtonsContainer {
  display: flex;
  flex-direction: column;
  width: 185px;
}

.tableToolbarButtonsContainer .addButton {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 10px;
}

.tableExportButtonsContainer {
  display: flex;
}
