.container {
  display: flex;
  flex-direction: column;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  flex-wrap: wrap;
  align-content: space-around;
  padding: 80px 24px 60px;
}

.linksContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.linksTextContainer {
  display: flex;
}

.linksTextContainer a {
  margin: 0 8px;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}

.linksTextContainer a:hover {
  transform: scale(1.05);
}

.linksTextContainer a h6 {
  color: #0a142f;
}

.linksSocialContainer {
  display: flex;
  justify-content: flex-end;
}

.linksSocialContainer button {
  transition: all 0.15s ease-in-out;
}

.linksSocialContainer button:hover {
  transform: scale(1.1);
}

.divider {
  width: 75%;
  margin: 40px auto;
}

.infoContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.childContainer {
  flex: 1;
}

.childContainer p {
  margin-left: 8px;
}

.image {
  width: 60.96px;
  height: 82px;
}

.infoTextContainer {
  display: flex;
  justify-content: flex-end;
}

.infoTextContainer p:nth-child(1) {
  margin-right: 8px;
}

@media only screen and (max-width: 768px) {
  .linksContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .linksTextContainer {
    flex-direction: row-reverse;
    margin-bottom: 20px;
  }

  .linksTextContainer a {
    padding: 0;
  }

  .linksSocialContainer > button {
    padding: 16px;
  }

  .divider {
    display: none;
  }

  .image {
    width: 35.5px;
    height: 50px;
    margin: 24px 0 18px;
  }

  .infoContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .childContainer {
    width: inherit;
  }

  .infoTextContainer {
    align-items: center;
    margin-bottom: 8px;
  }
}
