.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.headerContainer {
  display: flex;
  width: 60%;
  margin: 30px;
}

.headerContainer div {
  margin-right: 60px;
  text-align: center;
}

.description {
  margin: 30px;
}

.subtitle {
  margin: 16px 0 28px;
  overflow-wrap: break-word;
}

.tableTitle {
  margin: 10px 30px;
}

.titleContainer {
  margin: 0 24px;
}
