.container {
  padding-top: 50px;
  margin: 0 24px;
}

.titleContainer {
  margin: 0 24px;
}

.subtitle {
  margin: 16px 0 28px;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 60px;
}
