.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #ffffff8e;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

.appName {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}

.license {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 20px;
}

.copyright {
  margin: 20px;
  font-size: 0.7rem;
  font-style: italic;
}

.socialIcon {
  margin-left: 5px;
}

.linksContainers {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 20px;
}

@media screen and (min-width: 750px) {
  .main {
    width: unset;
    padding: 0 20%;
  }

  .socialIcon {
    margin-left: 15px;
  }
}
