header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 8px #0000001f;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 30px 60px;
}

.mainContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.drawerButton {
  display: none;
}

.logoContainer {
  display: flex;
  place-self: center;
  align-items: center;
  height: 80px;
  text-decoration: none;
}

.image {
  width: 61px;
  height: 86px;
}

nav {
  width: 50%;
}

.navList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.routeContainer a {
  text-decoration: none;
}

.routeContainer button {
  padding: 6px 30px;
  font-size: 19px;
  transition: all 0.15s ease-in-out;
}

.routeContainer button:hover {
  transform: scale(1.03);
}

.routeContainer > a > p {
  font-size: 21px;
  color: #555555;
  transition: all 0.15s ease-in-out;
}

.routeContainer > a > p:hover {
  color: #333333;
  transform: scale(1.03);
}

@media only screen and (max-width: 1024px) {
  .container {
    justify-content: flex-start;
    padding: 15px 30px;
  }

  .drawerButton {
    display: initial;
  }

  nav {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .image {
    width: 38px;
    height: 52px;
  }
}
