name: Deployment
run-name: 'Deploy branch: ${{ github.ref }} to env: ${{ inputs.environment }} on domain: ${{ inputs.domain }}'

on:
  workflow_dispatch:
    inputs:
      git-ref:
        description: Commit Ref (Optional)
        required: false
      environment:
        description: Environment variables
        required: true
        default: develop
        type: environment
      domain:
        description: Domain <should be `${env}.` (dev, test, uat)> (Optional)
        type: string
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      domain:
        required: false
        type: string
        default: ''

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    environment: ${{ inputs.environment }}
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Clone Repository (Last commit)
        uses: actions/checkout@v3
        if: github.event.inputs.git-ref == ''
      - name: Clone Repository (Custom commit)
        uses: actions/checkout@v3
        if: github.event.inputs.git-ref != ''
        with:
          ref: ${{ github.event.inputs.git-ref }}
      - name: Deploy to Vercel Action
        uses: BetaHuhn/deploy-to-vercel-action@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
          VERCEL_SCOPE: ${{ secrets.VERCEL_TEAM_NAME }}
          PRODUCTION: false
          BUILD_ENV: |
            REACT_APP_SHOW_ENV=${{ inputs.environment }}
            REACT_APP_API_URL=${{ secrets.REACT_APP_API_URL }}
            REACT_APP_API_KEY=${{ secrets.REACT_APP_API_KEY }}
            REACT_APP_AUTH_DOMAIN=${{ secrets.REACT_APP_AUTH_DOMAIN }}
            REACT_APP_PROJECT_ID=${{ secrets.REACT_APP_PROJECT_ID }}
            REACT_APP_STORAGE_BUCKET=${{ secrets.REACT_APP_STORAGE_BUCKET }}
            REACT_APP_MESSAGING_SENDER_ID=${{ secrets.REACT_APP_MESSAGING_SENDER_ID }}
            REACT_APP_APP_ID=${{ secrets.REACT_APP_APP_ID }}
            REACT_APP_MEASUREMENT_ID=${{ secrets.REACT_APP_MEASUREMENT_ID }}
            REACT_APP_SENTRY_DSN=${{ secrets.REACT_APP_SENTRY_DSN }}
            REACT_APP_GOOGLE_ANALYTICS_ID=${{ secrets.REACT_APP_GOOGLE_ANALYTICS_ID }}
            REACT_APP_TERMS_AND_CONDITIONS_URL=${{ vars.REACT_APP_TERMS_AND_CONDITIONS_URL }}
            REACT_APP_VERSION=$(npm pkg get version)
          ALIAS_DOMAINS: |
            https://${{ inputs.domain }}${{ secrets.APP_DOMAIN }}
